body{
    background-color: rgb(208, 235, 226);
    margin: 0;
    padding: 0;
}
.App {
    margin:0;
    padding: 0;
}
h1 {
    background-color: #282C35;
    color: white;
    margin: 0 0 20px 0;
    text-align: center;
    padding-top: 15px;
    height: 60px;
    text-decoration: underline;
    font-style: italic;
}
.card-list{
    padding: 20px;
}
.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 20%;
    height: 150px;
    background-color: #2F4F4F;
}
h3 {
    color: white;
} 
h5 {
    color: rgb(243, 171, 171);
    cursor: pointer;
}